@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans/FiraSans-Regular.eot');
  src: url('../fonts/FiraSans/FiraSans-Regular.woff2') format('woff2'),
       url('../fonts/FiraSans/FiraSans-Regular.woff') format('woff'),
       url('../fonts/FiraSans/FiraSans-Regular.ttf') format('truetype'),
       url('../fonts/FiraSans/FiraSans-Regular.svg#FiraSans-Regular') format('svg'),
       url('../fonts/FiraSans/FiraSans-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans/FiraSans-Bold.eot');
  src: url('../fonts/FiraSans/FiraSans-Bold.woff2') format('woff2'),
       url('../fonts/FiraSans/FiraSans-Bold.woff') format('woff'),
       url('../fonts/FiraSans/FiraSans-Bold.ttf') format('truetype'),
       url('../fonts/FiraSans/FiraSans-Bold.svg#FiraSans-Bold') format('svg'),
       url('../fonts/FiraSans/FiraSans-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans/FiraSans-Light.eot');
  src: url('../fonts/FiraSans/FiraSans-Light.woff2') format('woff2'),
       url('../fonts/FiraSans/FiraSans-Light.woff') format('woff'),
       url('../fonts/FiraSans/FiraSans-Light.ttf') format('truetype'),
       url('../fonts/FiraSans/FiraSans-Light.svg#FiraSans-Light') format('svg'),
       url('../fonts/FiraSans/FiraSans-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans/FiraSans-Medium.eot');
  src: url('../fonts/FiraSans/FiraSans-Medium.woff2') format('woff2'),
       url('../fonts/FiraSans/FiraSans-Medium.woff') format('woff'),
       url('../fonts/FiraSans/FiraSans-Medium.ttf') format('truetype'),
       url('../fonts/FiraSans/FiraSans-Medium.svg#FiraSans-Medium') format('svg'),
       url('../fonts/FiraSans/FiraSans-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
	font-family: FontAwesome;
	src: url(../fonts/FontAwesome/fontawesome-webfont.ttf);
}